.container {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 0;
  }
  
  .sidebar li.active {
    background-color: #d4d4d4;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filters button {
    margin-left: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    /* border: 1px solid #ddd; */
    padding: 8px;
  }
  
  table th {
    background-color: #aca3a3b0;
    text-align: left;
  }
  