table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    
}

td{
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  
}
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 2;
}

tr:nth-child(even) {
    background-color: #7ffcfc;
}
tr:hover{
    background-color:beige;
}